*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Aclonica';
    font-size: 18px;
    max-width: 100%;
    margin-bottom: 10px;
}
/*stylinh heading*/
.head{
    background-color: hotpink;
}

.bg{
    width: 100%;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}
/*styling forms*/
input,textarea{
    width:80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}